<HTML>
<HEAD>
<TITLE> 
</TITLE>
<link rel="stylesheet" type="text/css" href="TampanariuTiberius/css/style.css">
</HEAD>

<BODY BGCOLOR=#ffe6e6>
<div id="top">
    <div id="name"><H1 ALIGN="CENTER">Tampanariu Tiberius</H1>
        <h2 id="h21">"I wish that every human life might be pure transparent freedom"</h2><h2 id="h22"> Simon De Beauvoir</h2></div>
    <div id="image">
    <IMG src="C:/Users/UAB%203/Tampanariu/templates/tampanariu-tiberius/image.jpg "width="275" height="230" ></IMG>
    </div>
</div>
<div id="about">
    <p>Software developer, Responsibilities: involvement in the full software lifecycle, specification and evaluation of customer requirements,  specification and evaluation of customer requirements, specification and evaluation of customer requirements, analysis, specification, process development, testing, implementation, user, program specification and documentation, client liaison, post implementation support.</p>
    <div id="left">
    <div class="tech"><h3>Technical Skills:</h3>
    <ul>
        <li>Lotus Notes R8.x, Lotus Notes Formula Language, Lotus Notes Script</li>
        <li>Lotus Notes Actions, Installing Lotus Notes client</li>
    </ul>
    </div>
    <div class="cert"><h3>Certifications:</h3>
    <ul>
        <li>VMware Certified Professional 6 – Data Center Virtualization –VCA</li>
        <li>Double VCP – Data Center Virtualization & Cloud Management –VCP</li>
    </ul>
    </div>
    <div id="right"></div>
</div>
</div>
</body>
</html>
